# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/

# Prisma
src/generated/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

/src/generated/prisma
